<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>129.22</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>CanvasColor</key>
	<dict>
		<key>w</key>
		<string>1</string>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>CanvasScale</key>
	<real>1</real>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2014-04-24 16:24:07 +0000</string>
	<key>Creator</key>
	<string>Andrés Aravena</string>
	<key>DisplayScale</key>
	<string>1 in = 1 in</string>
	<key>ExportShapes</key>
	<array>
		<dict>
			<key>InspectorGroup</key>
			<real>255</real>
			<key>ShapeImageRect</key>
			<string>{{2, 2}, {22, 22}}</string>
			<key>ShapeName</key>
			<string>DA6E8365-7ED1-45AA-8595-09BAEA6DAB97-2315-000012A8092E76D9</string>
			<key>ShouldExport</key>
			<string>YES</string>
			<key>StrokePath</key>
			<dict>
				<key>elements</key>
				<array>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.0034499168, 0.49448013}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.0034496784, 0.49448013}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.0034496784, 0.49448013}</string>
						<key>control2</key>
						<string>{-0.0034496784, 0.50689697}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.0034499168, 0.49448013}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>CLOSE</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.0034499168, 0.49448013}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.0034499168, 0.4820652}</string>
						<key>control2</key>
						<string>{-0.0034499168, 0.44482231}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.0034499168, 0.34551382}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.0034499168, 0.20155573}</string>
						<key>control2</key>
						<string>{0.067694187, 0.16193771}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.10685253, 0.15103436}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.26739478, 0.15103531}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.26739478, 0.29585886}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.27490067, 0.28595161}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.27490115, 0.29999971}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.5, 0.0020699501}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.27489734, -0.29585934}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.27489734, -0.29010153}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.26739836, -0.30000019}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.26739526, -0.15103579}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.11478782, -0.15103483}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.075734973, -0.16193724}</string>
						<key>control2</key>
						<string>{0.0047812462, -0.20155478}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.0047812462, -0.34551382}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.0047812462, -0.44482231}</string>
						<key>control2</key>
						<string>{0.0047812462, -0.4820652}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.0047812462, -0.49448061}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.0047813654, -0.49448061}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.0047813654, -0.49448061}</string>
						<key>control2</key>
						<string>{0.0047813654, -0.50689697}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.0047812462, -0.49448061}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.22030759, -0.49448204}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.22030759, -0.49448395}</string>
						<key>control2</key>
						<string>{-0.22030854, -0.5068965}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.22030962, -0.49448204}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.22031057, -0.48206758}</string>
						<key>control2</key>
						<string>{-0.22031164, -0.44482517}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.22031164, -0.34551477}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.22032726, -0.20154142}</string>
						<key>control2</key>
						<string>{-0.17300761, -0.16193104}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.14696717, -0.15103292}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.5, -0.15103102}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.49999666, 0.14689541}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.4904331, 0.14689541}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.49043322, 0.15103054}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.15560734, 0.15103292}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.18171775, 0.16193008}</string>
						<key>control2</key>
						<string>{-0.22916543, 0.20154095}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.22914982, 0.34551477}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.22914982, 0.44482613}</string>
						<key>control2</key>
						<string>{-0.22914875, 0.48206806}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.22914767, 0.49448252}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.22914684, 0.50689602}</string>
						<key>control2</key>
						<string>{-0.22914565, 0.49448395}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.22914565, 0.49448252}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.0034499168, 0.49448013}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>CLOSE</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{0.0047812462, -0.49448061}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>CLOSE</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{0.0047812462, -0.49448061}</string>
					</dict>
				</array>
			</dict>
			<key>TextBounds</key>
			<string>{{0, 0}, {1, 1}}</string>
		</dict>
	</array>
	<key>FileType</key>
	<string>package</string>
	<key>GraphDocumentVersion</key>
	<integer>5</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{198, 337.5}, {90, 54}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>62</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf200
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 Known Validated Regulations}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{288, 459}, {288, 288}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>51</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{-49.5, 463.5}, {288, 288}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>50</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{148.5, 396}, {234, 90}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>64</integer>
			<key>Shape</key>
			<string>DA6E8365-7ED1-45AA-8595-09BAEA6DAB97-2315-000012A8092E76D9</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>GradientColor</key>
					<dict>
						<key>w</key>
						<string>0.666667</string>
					</dict>
				</dict>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{387, 391.5}, {139.5, 94.5}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>46</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf200
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 LOMBARDE Output:\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural
\cf0 2370 Vertices\
4,632 Arcs\
92.3% explained\
           coexpessions\
1,532 Validated Arcs}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{198, 490.5}, {90, 54}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>45</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf200
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 Evidence of Co-expression}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{18, 396}, {126, 90}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>44</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf200
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 Putative TRN:\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural
\cf0 2,434 Vertices\
26,812 Arcs\
92.3% explained\
           coexpessions\
1,652 Validated Arcs}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{153, 22.500015}, {225, 72.500214}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>10</real>
			</dict>
			<key>ID</key>
			<integer>38</integer>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.49999988, -0.31378868}</string>
					<string>{-0.49999106, -0.3137829}</string>
					<string>{-0.49999654, 0.058618844}</string>
					<string>{-0.49999654, 0.058618844}</string>
					<string>{-0.49999654, 0.058618844}</string>
					<string>{-0.13635218, 0.05862087}</string>
					<string>{-0.13635218, 0.05862087}</string>
					<string>{-0.13635218, 0.05862087}</string>
					<string>{-0.22729075, 0.058615744}</string>
					<string>{-0.22726917, 0.30689347}</string>
					<string>{-0.22726917, 0.55516589}</string>
					<string>{-0.227265, 0.49310744}</string>
					<string>{-0.227265, 0.49310267}</string>
					<string>{-0.227265, 0.49310744}</string>
					<string>{-1.9073486e-06, 0.4931041}</string>
					<string>{-1.9073486e-06, 0.49310029}</string>
					<string>{-1.9073486e-06, 0.49310029}</string>
					<string>{-2.0265579e-06, 0.55517685}</string>
					<string>{-2.0265579e-06, 0.30689228}</string>
					<string>{-2.0265579e-06, 0.058618605}</string>
					<string>{0.13636589, 0.058618605}</string>
					<string>{0.13636589, 0.058618605}</string>
					<string>{0.13636589, 0.058618605}</string>
					<string>{0.2727232, 0.05861783}</string>
					<string>{0.2727232, 0.058617711}</string>
					<string>{0.2727232, 0.05861783}</string>
					<string>{0.2727232, 0.24482405}</string>
					<string>{0.2727232, 0.24482405}</string>
					<string>{0.2727232, 0.24482405}</string>
					<string>{0.50000012, -0.1275875}</string>
					<string>{0.50000012, -0.1275875}</string>
					<string>{0.49999368, -0.12759233}</string>
					<string>{0.27272689, -0.5}</string>
					<string>{0.27272689, -0.5}</string>
					<string>{0.27272522, -0.50000334}</string>
					<string>{0.27272284, -0.31379449}</string>
					<string>{0.27272367, -0.31379449}</string>
					<string>{0.27272284, -0.31379449}</string>
					<string>{-0.49998581, -0.3137829}</string>
				</array>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf200
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs20 \cf0 LOMBARDE\
}</string>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0, 0}, {1, 1}}</string>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{382.5, 9}, {144, 85.5}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>36</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf200
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 LOMBARDE Output:\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\b0 \cf0 2,336 Vertices\
4,817 Arcs\
91.1% explained\
           co-expessions\
289 Validated Arcs}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{193.5, 99}, {90, 54}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf200
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 Evidence of Co-expression}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{13.5, 9}, {135, 90}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>3</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf200
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 Putative TRN:
\b0 \
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural
\cf0 2390 Vertices\
25,604 Arcs\
91.1% explained\
           co-expessions\
444 Validated Arcs}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{-45, 81}, {288, 288}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>59</integer>
			<key>ImageID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{292.5, 81}, {288, 288}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>60</integer>
			<key>ImageID</key>
			<integer>5</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict>
		<key>GridSpacing</key>
		<real>4.5</real>
		<key>MajorGridSpacing</key>
		<integer>16</integer>
		<key>ShowsGrid</key>
		<string>YES</string>
		<key>SnapsToGrid</key>
		<string>YES</string>
	</dict>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>2</integer>
	<key>ImageCounter</key>
	<integer>7</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image5.pdf</string>
		<string>image4.pdf</string>
		<string>image2.pdf</string>
		<string>image1.pdf</string>
	</array>
	<key>IsPalette</key>
	<string>NO</string>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict/>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheet</key>
	<string>Master 1</string>
	<key>MasterSheets</key>
	<array>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>CanvasColor</key>
			<dict>
				<key>w</key>
				<string>1</string>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>CanvasScale</key>
			<real>1</real>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 in = 1 in</string>
			<key>GraphicsList</key>
			<array/>
			<key>GridInfo</key>
			<dict>
				<key>ShowsGrid</key>
				<string>YES</string>
				<key>SnapsToGrid</key>
				<string>YES</string>
			</dict>
			<key>HPages</key>
			<integer>1</integer>
			<key>IsPalette</key>
			<string>NO</string>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict/>
			<key>Orientation</key>
			<integer>2</integer>
			<key>OutlineStyle</key>
			<string>Basic</string>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Master 1</string>
			<key>UniqueID</key>
			<integer>1</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>ModificationDate</key>
	<string>2014-06-24 16:41:19 +0000</string>
	<key>Modifier</key>
	<string>Andrés Aravena</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>OutlineStyle</key>
	<string>Basic</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFklwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFklwCG</string>
		</array>
		<key>NSPaperName</key>
		<array>
			<string>string</string>
			<string>iso-a4</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595, 842}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFklwCG</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFklwCG</string>
		</array>
	</dict>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>NO</string>
	<key>SmartDistanceGuidesActive</key>
	<string>NO</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<true/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>DrawerTab</key>
		<string>Outline</string>
		<key>DrawerWidth</key>
		<real>209</real>
		<key>Frame</key>
		<string>{{831, 4}, {1188, 1414}}</string>
		<key>VisibleRegion</key>
		<string>{{-50, -253}, {1173, 1324}}</string>
		<key>Zoom</key>
		<real>1</real>
	</dict>
</dict>
</plist>
